* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.logoOnebitcode {
  width: 200px;
  cursor: pointer;
}
.header {
  background-color: #292929;
  color: white;
  min-width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 8px 15px;
}
nav {
  display: flex;
  gap: 15px;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
a:hover {
  color: #ff0044;
}
.sectionTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  font-size: 26px;
  padding-top: 20px;
}
.sectionDescription {
  color: #383838;
  text-align: center;
  padding-bottom: 20px;
}
.mainContent {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "modalities extras";
  padding: 20px;
  flex: 1 0 auto;
}
.modalities .modality img {
  width: 100%;
  height: 260px;
  border-radius: 10px;
}
.extraModality img {
  width: 100%;
  border-radius: 10px;
}
.modalities {
  grid-area: modalities;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.modality {
  width: 380px;
  height: 380px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}
.modality:hover {
  border: 2px solid black;
}
.modalityTitle {
  padding: 6px;
}
.modalityDescription {
  padding: 6px;
}
.extras {
  grid-area: extras;
  background-color: #383838;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  border-radius: 10px;
  gap: 20px;
}
.extraModality {
  width: 75%;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.4s;
  cursor: pointer;
}
.extraModality:hover {
  border-color: gainsboro;
}
.extraModalityTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}
.footer {
  width: 100%;
  background-color: #292929;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 13px;
}
@media (max-width: 750px) {
  .mainContent {
    grid-template-columns: 1fr;
    grid-template-areas:
      "modalities"
      "extras";
  }
}
@media (min-width: 2100px) {
  .modality {
    width: 480px;
    height: 480px;
  }
}
@media (max-width: 470px) {
  .header {
    justify-content: center;
  }
  .footer {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .modalities {
    margin-bottom: 10px;
  }
  .modality {
    width: auto;
  }
  .modalities .modality img {
    height: 200px;
  }
  .extras {
    min-width: auto;
  }
}
@media (max-width: 320px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modality {
    width: 250px;
  }
  .modalities .modality img {
    height: 200px;
  }
}
